
              
            .thumbnail {
                width: 100%; 
                margin-bottom: 12px;
            }
          
            .video-title {
                margin-top: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 10px;
            }
            .video-author, .video-views {
                font-size: 12px;
                color: rgb(96, 96, 96);
                margin-bottom: 5px;
            }
            .video-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
            }
              .channel-picture {
                display: inline-block;
                width: 50px;
                vertical-align: top;
                position: relative;
              }
            .profil-picture-tooltip {
                font-family: roboto, arial;
                background-color: white;
                box-shadow: 0 4px 20px rgba(0,0,0,0.15);
                position: absolute;
                padding: 10px 20px;
                border-radius: 2px;
                font-size: 12px;
                top: 50px;
                left: 0;
                opacity: 0;
                transition: opacity 0.15s;
                display: inline-block;
                pointer-events: none;
                white-space: nowrap;
            }
            .channel-picture:hover .profil-picture-tooltip {
                opacity: 1;
            }
            .video-author-tooltip {
                font-size: 12px;
                font-family: roboto,arial;
                font-weight: bold;
            }
            .profil-picture-tooltip-top {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .video-subcribers-tooltip {
                font-size: 12px;
                font-family: roboto,arial;
                margin-top: 5px;
                color: rgb(96, 96, 96);
            }

            .video-info {
                width: 200px;
            }
            .profil-picture {
                width: 35px;
                border-radius: 50%;
                display: inline-block;

            }
            .thumbnail-row {
                margin-bottom: 9px;
                position: relative;
            }
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
                }
            @media (max-width: 750px) {
                .grid {
                    grid-template-columns: 1fr 1fr;
                }
             @media (max-width: 751px) and (min-width: 999) {
                .grid {
                    grid-template-columns: 1fr 1fr 1fr;
                }
             }
             @media (min-width: 1000px) {
                .grid {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
             }
            }
            .video-time {
                background-color: black;
                color: white;
                position: absolute;
                bottom: 20px;
                right: 5px;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 4px;
                border-radius: 2px;
            }