.subscirbe-button {
        background-color: rgb(223, 71, 71);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        vertical-align: top;
        
    }

    .subscirbe-button:hover {
        opacity : 0.8;
    }
    .subscirbe-button:active {
        opacity : 0.5;
    }
    
    .join-button {
        background-color: white;
        border-color: rgb(41, 118, 211);
        border-style: solid;
        border-width: 1px;
        color: rgb(41, 118, 211);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: background-color 0.15s,
        color 0.15s;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right:15px;
        vertical-align: top;
    }
    .join-button:hover {
        background-color: rgb(41, 118, 211);
        color: white;
    }
    .join-button:active {
        opacity: 0.8;
    }
    .tweet-button {
        background-color: rgb(2, 137, 255);
        color: white;
        border-radius: 18px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.15s;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 9px;
        padding-top: 9px;
        vertical-align: top;
        margin-right: 8px;

    }
    .tweet-button:hover {
        box-shadow: 
        5px 5px 10px rgba(0,0,0,0.15);
        padding-left: 20px;
        padding-right: 20px;

    }
    .get-button {
        background-color: rgb(121, 82, 179);
        color: white;
        height: 35px;
        width: 100px;
        border: none;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
        transition: Background-color 0.15s;

    }
    .get-button:hover {
        background-color: rgb(91, 62, 134);
    }
    .get-button:active {
        opacity: 0.8;
    }
    .download-button {
        background-color: white;
        color: rgb(108,117,125);
        height: 35px;
        width: 100px;
        border-radius: 3px;
        border-color: rgb(108, 117, 125);
        cursor: pointer;
        margin-left: 8px;
        border-style: solid;
        transition: background-color 0.15s,
        color 0.15s;

    }
    .download-button:hover {
        background-color: rgb(108,117,125);
        color: white ;
    }
    .download-button:active {
        opacity:0.8;
    }